@model RestaurantManager.Models.Ingredient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ingredient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost_per_unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost_per_unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Measure_unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Measure_unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refrigerated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refrigerated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
