@model LocationGrpcService.LocationList
@{
    ViewData["Title"] = "Locations";
}
<h1>Locations</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.LocationId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>